<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>81807635559-142tu5sfnqf3mu7k3iqtt09pdgt2hvac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.81807635559-142tu5sfnqf3mu7k3iqtt09pdgt2hvac</string>
	<key>API_KEY</key>
	<string>AIzaSyB6xoTFyoJW4-6a3W0gKmJMjRAzxBBUzfg</string>
	<key>GCM_SENDER_ID</key>
	<string>81807635559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.planb.TriOlympic</string>
	<key>PROJECT_ID</key>
	<string>triolympic</string>
	<key>STORAGE_BUCKET</key>
	<string>triolympic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:81807635559:ios:fdb54f5e77120462b1d0c2</string>
</dict>
</plist>